<!DOCTYPE html>
<html>
<head>
	<title>payday</title>
	<script type="text/javascript" src="../../../vendor/assets/javascripts/bootstrap.js"></script>
	<link href="../../../vendor/assets/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" media="all" href="../../../lib/assets/signup.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h2 class="navlogo">payday</h2>
    </div>
    <div class="mainbox">
    	<h1>sign up</h1>
    	<h2>email</h2>
    	<input type="text" name="email">
    	<h2>password</h2>
    	<input type="text" name="password">
    	<h2>re-type password</h2>
    	<input type="text" name="passwordcheck">
    </div>
</body>
</html>